*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.orange-button{
    background-color: #FF5500;
    color: #ffffff;
    border: none;
    padding: 16px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
}

.orange-button:hover{
    background-color: #fe6d24;
}